body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.game-box {
  margin-top: 30px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

#slot-display {
  font-size: 30px;
  margin-top: 20px;
}
